[req]
prompt = no 
distinguished_name = dn 
req_extensions = ext 
input_password = 12345

[dn]
CN = www.particula.local
emailAddress = admin@particula.local
O = particula
L = sao paulo
C = br

[ext]
subjectAltName = DNS:www.particula.local,DNS:particula.local
